.small {
    letter-spacing: inherit;
    font-size: $font-size-small;
}

.base {
    letter-spacing: inherit;
    font-size: $font-size-base;
}

.big {
    letter-spacing: inherit;
    font-size: $font-size-big;
}

.lead {
    letter-spacing: inherit;
    font-size: $font-size-lead;
}

.underline {
    text-decoration: underline;
}

.custom-font-size {
    font-size: 30px;
}