.d-none {
    display: none !important;
}

.d-md-flex-none {
    display: none;

    @include responsive-breakpoints($breakpoint-small) {
        display: flex;
    }
}

.d-md-none-block {
    display: block;

    @include responsive-breakpoints($breakpoint-small) {
        display: none;
    }
}

.d-block {
    display: block;
}

.flex {
    display: flex;
} 

.relative {
    position: relative;
}

.absolute-mid {
    position: absolute;
    left: 50%;
      transform: translate(-50%, 0);
    }