.bg-primary {
    background-color: $color-primary;
}

.font-light {
    color: $color-white;
}

.font-border {
    text-shadow: -3px 0 $color-primary, 0 3px $color-primary, 3px 0 $color-primary, 0 -3px $color-primary;;
}

.svg-light {
    fill: $color-white;
  }