$breakpoint-small: 768px;
$breakpoint-medium: 992px;
$breakpoint-large: 1200px;

$font-size-small: 16px;
$font-size-base: 24px;
$font-size-big: 50px;
$font-size-lead: 60px;

$color-primary: #0C2D57;
$color-white: #fff;
$color-highlight: #6ebbc2;