.p-0 {
    padding: 0;
}

.p-10 {
    padding: 10px;
}

.p-12 {
    padding: 12px;
}

.pl-12 {
    padding-left: 12px;
}

.pt-6 {
    padding-top: 6px;
}

.m-0 {
    margin: 0;
}

.mx-12 {
    margin: 0 12px;
}

.mx-md-y-x {
    margin: 12px 0;

    @include responsive-breakpoints($breakpoint-medium) {
        margin: 0 12px;
      };
}
.mb-12 {
    margin-bottom: 12px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mt-24 {
    margin-top: 24px;
}


.mr-12 {
    margin-right: 12px;
}

.ml-12 {
    margin-left: 12px;
}

.py-12 {
    padding: 12px 0;
}

.px-12 {
    padding-left: 12px;
    padding-right: 12px;
}

.mt-negative-20 {
    margin-top: -20px;
}

.mx-auto {
    margin: 0 auto;
}