.Content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.column-width-md-60 {
  width: 100%;

  @include responsive-breakpoints($breakpoint-medium) {
    width: 60%;
  }
}