@import './styles/mixins.scss';
@import './styles/constants.scss';
@import './styles/fonts.scss';
@import './styles/colors.scss';
@import './styles/spacing.scss';
@import './styles/basics.scss';

@import './Components/Content/content.scss';
@import './Components//Image/image.scss';
@import './Components/Text/text.scss';
@import './Components//Button/Button.scss';
@import './Components/PillNavigation/pillnavigation.scss';
@import './Components/Button/button.scss';
@import './Components/Accordion/accordion.scss';
@import './Components/Page/page.scss';
@import './Components/Row/row.scss';
@import './Components/Col/Col.scss';
@import './Components/Form/form.scss';


:root {
  --screen-xs-max: 768;
  --screen-sm-max: 992;
  --screen-md-max: 1200;
}

body {
  margin: 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.w-100 {
  width: 100%;
}

.w-30 {
  width: 30%;
}

.vh-100 {
  height: 100vh;
}

.h-100 {
  height: 100%;
}

.text-align-center {
  text-align: center;
}


.box-border {
  border-radius: 1px;
  box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.3); 
}

.box-border-active {
  border-radius: 1px;
  box-shadow: 0px 0px 0px 3px rgba(255,255,255,0.6); 
}

.border-none {
  border: 0;
}

.border-bottom {
  border-radius: 1px;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

.border-top {
  border-radius: 1px;
  border-top: 1px solid rgba(255,255,255,0.3);
}

.border-left {
    border-radius: 1px;
    border-left: 1px solid rgba(255,255,255,0.3);
}

.border-x {
  border-radius: 1px;
  border-left: 1px solid rgba(255,255,255,0.3);
  border-right: 1px solid rgba(255,255,255,0.3);
}

.border-y-x {
  border-radius: 1px;
  border-top: 1px solid rgba(255,255,255,0.3);
  border-bottom: 1px solid rgba(255,255,255,0.3);
    @include responsive-breakpoints($breakpoint-medium) {
      border-top: 0;
      border-bottom: 0;
      border-radius: 1px;
      border-left: 1px solid rgba(255,255,255,0.3);
      border-right: 1px solid rgba(255,255,255,0.3);
    };
  
}

.br-8 {
  border-radius: 8px;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.align-left-center {
  align-items: left;

  @include responsive-breakpoints($breakpoint-medium) {
    align-items: center;
  }
}

.flex-direction-row {
  flex-direction: row;
}

.flex-direction-column-row {
  flex-direction: column;

  @include responsive-breakpoints($breakpoint-medium) {
    flex-direction: row;
  }
}

.max-height-100 {
  max-height: 100%;
}

.w-fit-content {
  width: fit-content;
}

.justify-between {
  justify-content: space-between;
}

