@import './styles/mixins.scss';
@import './styles/constants.scss';
@import './styles/others.scss';
@import './styles/fonts.scss';
@import './styles/colors.scss';
@import './styles/spacing.scss';
@import './styles/basics.scss';

@import './Components/Content/content.scss';
@import './Components/Image/image.scss';
@import './Components/Text/text.scss';
@import './Components/PillNavigation/pillnavigation.scss';
@import './Components/Button/button.scss';
@import './Components/Accordion/accordion.scss';
@import './Components/Page/page.scss';
@import './Components/Row/row.scss';
@import './Components/Col/Col.scss';
@import './Components/Form/form.scss';


:root {
  --screen-xs-max: 768;
  --screen-sm-max: 992;
  --screen-md-max: 1200;
}

body {
  margin: 0;
}