.Image-container {
  display: none;
  @include responsive-breakpoints($breakpoint-medium) {
    display: flex;
  };
}
  
  .overflow-hidden {
    overflow: hidden;
  }

  .image-align {
    object-fit: cover;
    margin-top: auto;
  }

  .image-rotated {
    transform: rotate(180deg);
    transition: 0.4s ease-in-out;
  }

  .grayscale {
    filter: grayscale(1);
  }

  .overlay {
    opacity: 0.7;
    background-color: #0C2D57;
  }

  .image-mid {
    justify-content: center;
    object-fit: cover;
  }