.column-width-40 {
    width: 40%;
  }
  
  .overflow-hidden {
    overflow: hidden;
  }

  .image-align {
    object-fit: cover;
    margin-top: auto;
  }

  .image-rotated {
    transform: rotate(180deg);
  }